@reference "./theme.css";

ui-menu,
.ui-menu {
  @apply contents;

  & .ui-list {
    @apply min-w-56;
  }
}

.ui-popup__panel .ui-list {
  @apply border-0 p-0;
  max-height: calc(var(--ui-popup-available-height, 100vh) - 1.5rem);
  border-radius: 0;
  overflow: hidden;
}
