@reference "./theme.css";

.ui-validation-container {
  @apply block;

  &[data-invalid] .ui-validation-container__content {
    border-bottom: 1px solid var(--color-validation-border);
  }
}

.ui-validation-container__errors {
  @apply text-xs;
  color: var(--color-validation-text);
  padding-inline-start: var(--ui-field-padding-x);
  padding-inline-end: var(--ui-field-padding-x);
}

.ui-validation-container__error {
  @apply leading-4;
}
